body {
	box-sizing: border-box;
	width: 100%;
}
#topheader {
	text-align: center;
	font-size: 22px;
}
.heading {
	font-style: 'Comic Sans MS';
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}
#container {
	width: 100%;
	min-width: 400px;
	min-height: 400px;
}
#gameArea {
	width: 400px;
	height: 400px;
	border: 1px solid #000;
	background-color: #eee;
	margin: 1em auto;
	overflow: hidden;
	padding: 1em;
	border-radius: .75em;
}
#gameArea div {
	width: 165px;
	height: 165px;
	border: 1px solid #000;
	margin: 1em;
	float: left;
	border-radius: .75em;
}
#red {
	background-color: #f00;
	opacity: .5;
}
#blue {
	background-color: #00f;
	opacity: .5;
}
#yellow {
	background-color: #ff0;
	opacity: .5;
}
#green {
	background-color: #0f0;
	opacity: .5;
}
#bottom {
	text-align: center;
}